@charset "utf-8";
.content{
    position: relative;
    margin-top: 0;
}

.inside_banner_net{
    width: 100%;
    height: 290px;
    background: #fbe0a9 url("/css/images/img/img_banner_net.png") no-repeat center;
}

.inside_cont_box{
    width: 1280px;
    height: auto;
    margin: 20px auto 30px;
    font-size: 14px;
    box-sizing: border-box;
}

.left_module{
    width: 200px;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    padding-right: 60px;
}

.left_nav_title{
    font-size: 24px;
    color: #666464;
    padding-bottom: 14px;
    border-bottom: 3px solid #ed6900;
    padding-left: 14px;
    font-weight: 600;
}

.left_nav li a{
    margin: 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #3a3a3a;
    cursor: pointer;
}

.left_nav li.active a{
    color: #ed6900;
    font-weight: 600;
}

.left_nav_title{
    font-size: 24px;
    color: #666464;
    padding-bottom: 14px;
    border-bottom: 3px solid #ed6900;
    padding-left: 14px;
    font-weight: 600;
}

.left_careful li{
    display: block;
}

.left_careful li a{
    margin: 0 14px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #3a3a3a;
    cursor: pointer;
    padding-left: 32px;
    display: block;
}

.left_careful li.no_send a{
    background: url("/css/images/img/no_send.png") left center no-repeat;
}

.left_careful li.send_process a{
    background: url("/css/images/img/send_process.png") left center no-repeat;
}

.left_careful li.how_box a{
    background: url("/css/images/img/how_box.png") left center no-repeat;
}

.left_careful li.how_sign a{
    background: url("/css/images/img/how_sign.png") left center no-repeat;
}

.left_careful li.careful a{
    background: url("/css/images/img/careful.png") left center no-repeat;
}

.left_careful li a:hover{
    color: #ed6900;
}

.left_service{
    margin: 80px 10px 20px;
    padding-bottom: 40px;
}

.left_service .title{
    color: #4a4a4a;
    font-size: 16px;
    line-height: 60px;
    margin-left: 10px;
}

.left_service li{
    float: left;
}

.left_service li a{
    display: block;
    color: #4a4a4a;
}

.left_service li a img {
    display: block;
    margin: 4px 12px 4px;
    border: none;
}

.left_service li a span {
    width: 50px;
   /* margin: 8px 6px;*/
    line-height: 16px;
    height: 40px;
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 14px;
}

.center_module{
    width: 880px;
    box-sizing: border-box;
    padding-right: 20px;
}

.center_module .cont_title{
    color: #ed6900;
    font-size: 16px;
    line-height: 40px;
    margin: 40px 24px 18px 0;
    text-align: left;
    font-weight: 600;
}

.right_module{
    width: 200px;
    padding-top: 48px;
    box-sizing: border-box;
}

.right_module img{
    display: block;
    margin-bottom: 10px;
}

.group_module{
    width: 1080px;
    box-sizing: border-box;
}
