body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}

.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

#page-content-wrapper {
width: 100%;
padding: 15px;
}

#page-content-wrapper {
padding: 20px;
}

.sidebar {
  list-style-type:none;
  background-color:#333;
  width:230px;
  height:100%;
  top:0;
  bottom:0;
  left:0;
  text-align:left;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  transition:1s ease;
}
.sidebar1{
	list-style-type:none;
	background-color:#333;
	color:white;
}

.sidebar a {
  text-decoration:none;
  color:white;
  transition:1s ease;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition:0.5s ease;
}

.sidebar li:hover {
  background-color:#777;
  cursor:pointer;
  text-indent: 30px;
}

.sidebar > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}